#btnOpenFilter {
    align-items: center;
    background-color: blue;
    border: none;
    border-radius: .3rem;
    color: white;
    display: flex;
    height: 2rem;
    justify-content: space-around;
    position: fixed;
    bottom: 0.3rem;
    left: 35%;
    width: 30%;
    z-index: 2;
    h4 {
        text-transform: uppercase;
    }
    img {
        filter: invert(1);
    }
}