section {
    border: 1px solid lightgrey;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 3rem 1rem;
    div {
        margin-left: 1rem;
        h2 {
            margin-top: 0;
        }
        h4 {
            margin-bottom: .5rem;
            font-weight: normal;
        }
    }
    img {
        color: blue;
        margin-right: 2rem;
    }
}